.logo {
  margin: 0 0.5rem;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--main-brand-color);
  color: var(--light-accent);
}

.header p {
  text-align: center;
  margin: 0 auto;
}
