.logo {
  margin: 0 0.5rem;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.container {
  background-color: var(--main-brand-color);
  color: var(--light-accent);
}
