.searchInput {
  width: 8rem;
  color: var(--main-brand-color);
  border: 0.1rem solid var(--light-accent);
  /* border: none; */
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
}
.searchInput:hover{
  width: 13.5rem;
}
