
.sideBar{
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.checkItem{
    /* padding: 10px; */

}


.button{
    display: flex;
    background-color: var(--dark-accent);
    margin: 10px; 
    justify-content:space-between;
}

.buttonSelected{
    background-color: var(--light-shade);
}