/*
show searchbar on the map component
searchbar z-index needs to be greater than mapContainer
We need to pass props down from app and remove the original searchbar
Change pixels values to more responsive units;
*/

.mapContainer {
  position: relative;
  z-index: 0;
}

.searchOverlay {
  /* border: 1px solid red; */
  position: absolute;
  top: 6rem;
  left: 4rem;
  z-index: 2;
}
