/*
show searchbar on the map component
searchbar z-index needs to be greater than mapContainer
We need to pass props down from app and remove the original searchbar
Change pixels values to more responsive units;
*/

.mapContainer {
  position: relative;
}

.searchOverlay {
  border: 1px solid red;
  position: absolute;
  top: 100px;
  right: 101px;
}
